.header {
  background: var(--color-footer);
  font-size: 24;
  font-family: var(--font-family);
  font-weight: 900;
}

.XSTEM__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 2rem 6rem;
}

.XSTEM__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.XSTEM__navbar-links_logo {
  margin-right: 2rem;
}

.XSTEM__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}

.XSTEM__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.XSTEM__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.XSTEM__navbar-links_container p,
.XSTEM__navbar-sign p,
.XSTEM__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);

  margin: 0 1rem;
  cursor: pointer;
}

.XSTEM__navbar-sign button,
.XSTEM__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);
}

.XSTEM__navbar-menu {
  margin-left: 1rem;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);

  display: none;
  position: relative;
}

.XSTEM__navbar-menu svg {
  cursor: pointer;
}

.XSTEM__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.XSTEM__navbar-menu_container p {
  margin: 1rem 0;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);
}

.XSTEM__navbar-menu_container-links-sign {
  display: none;
  border-radius: 25px;
  box-shadow: 100 30px 200px rgb(0, 0, 0);
}

@media screen and (max-width: 1050px) {
  .XSTEM__navbar-links_container {
    display: none;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
  }

  .XSTEM__navbar-menu {
    display: flex;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
  }
}

@media screen and (max-width: 700px) {
  .XSTEM__navbar {
    padding: 2rem 4rem;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
  }
}

@media screen and (max-width: 550px) {
  .XSTEM__navbar {
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
  }

  .XSTEM__navbar-sign {
    display: none;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
  }

  .XSTEM__navbar-menu_container {
    top: 20px;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
    align-content: center;
  }

  .XSTEM__navbar-menu_container-links-sign {
    display: block;
    border-radius: 25px;
    box-shadow: 100 30px 200px rgb(0, 0, 0);
    align-content: center;
  }
}
